html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.beer {
  display: flex;
  justify-content: center;

  flex-direction: row;
  flex-wrap: wrap;
}

.beer-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.enabled {
  background-color: aqua;
}

.disabled {
  background-color: azure;
}

.search-comp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
